.header {
  background-color: white;
  grid-row: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}
.headerActive{
  background-color: black;
}

.header .listaHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 2rem;
  text-align: center;
  margin-bottom: -2rem;
  margin-top: -1.5rem;
}

.header .listaHead .boton1 {
  margin-bottom: 2rem;
  background-color: #9f0000;
  display: inline-block;
}

.header .listaHead .sobreNosotros, .header .listaHead .contacto, .header .listaHead .home {
  display: inline-block;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-top: 1rem;
}

.header .listaHead .sobreNosotros:hover, .header .listaHead .contacto:hover, .header .listaHead .home:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  height: auto;
}

.header .listaHead .contacto:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  height: auto;
}

.header .listaHead .home:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  height: auto;
}

.header .menu {
  background-color: #242424;
}

.header .menu .categorias {
  display: inline-block;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #9f0000;
  font-size: 2rem;
}

.header .menu .categorias:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  height: auto;
}

.header .menu .btn-close {
  margin-left: 1rem;
}

.header .menu .nav-item {
  margin: auto;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #9f0000;
}

.header .menu .nav-item:hover {
  color: #9f0000;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  height: auto;
}

.numeroCarrito{
  color: #9f0000;
}
.botonCarrito{
  width: 2rem;
  height: 2rem;
  color: #9f0000;
  border-radius: solid #9f0000;
   
 }
/*Hasta aca va el Header*/
.main {
  grid-row: 2;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .banner {
  text-align: center;
}

.main .botonIzq {
  margin-left: 10rem;
}

.main .botonDer {
  margin-right: 10rem;
}

.main .seccionOfertas {
  text-align: center;
  margin-bottom: 5rem;
  padding: 1rem;
}

.main .seccionOfertas .divOfertas {
  text-align: center;
}

.main .seccionOfertas .divOfertas .ofertas {
  text-align: center;
  margin: 2rem;
  color: #9f0000;
}

.main .seccionOfertas .im {
  margin: 1rem;
  border: #9f0000 solid;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.main .seccionOfertas .im:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  height: auto;
}

.main .tituloProducto {
  color: #9f0000;
  margin: 2.5rem;
  margin-left: 8rem;
}

.main .productoCate {
  margin-left: 8rem;
}

.main .productoCate a {
  text-decoration: none;
  color: #9f0000;
}

.main .prodImagen {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .prodImagen .imagenProducto {
  display: inline-block;
  margin: 2.5rem;
  border: solid #9f0000;
  margin-left: 4rem;
  width: 28rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .prodImagen .imagenProducto:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.prodAside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem;
}

.prodAside .precio {
  font-size: 2.2rem;
}

.prodAside .agregarAlCarrito {
  background-color: #9f0000;
  width: 10rem;
  height: 2.5rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.prodAside .agregarAlCarrito:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.description {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: description;
  margin: auto;
}

.description .descripcion {
  max-width: 80rem;
  border: solid #9f0000;
  margin: 1rem 1rem;
  text-align: center;
  color: #9f0000;
}

.description .descripcion .tituloDescripcion {
  text-align: center;
  margin: 2rem;
  color: #9f0000;
  margin-left: 8rem;
}

.description .descripcion .parrafoDescripcion {
  color: white;
  margin-bottom: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  font-size: 1.1rem;
  text-align: center;
}

.description .descripcion .parrafoDescripcion2 {
  color: white;
  margin: 1rem;
  margin-bottom: 4rem;
  margin-left: 4rem;
  margin-right: 4rem;
  font-size: 1.1rem;
  text-align: center;
}
.divBotonDark{
  display: flex;
  justify-content: end;
}
.botonDark{
  width: 3.4rem;
  height: 3.4rem;
  background-color: black;
  color: #9f0000;

}
.claseProducto{
  display: inline-block;
}
.clasePrecioActive{
color: black;
}
.boton-eliminar{
  width: 5rem;
  height: 2rem;
  color: #9f0000;
  margin-bottom: 1rem;
}
/*Hasta aca va el main*/
.footer {
  grid-column: 1;
  grid-row: 3;
  background-color: white;
  padding: 2rem;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
}

.footerActive{
  background-color: black;
}
.footer .listaFooter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  word-spacing: 1rem;
}

.footer .listaFooter svg {
  width: 2rem;
  height: 2rem;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer .listaFooter svg:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.container-modal{
  background-color: rgb(0, 0, 0, 0.3);
  width: 100%;
  height: 100vw;
  position: fixed;
  inset: 0;
  align-self: center;
  text-align: center;
  display: flex;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}
.mymodal{
 width: 600px;
 height: 900px;
 background-color: #242424;
 padding: 20px;
border-radius: 20px;
border-radius:solid #9f0000;
z-index: 1;
position: absolute;

  
}
.myBoton{
 background-color: black;
 color: #9f0000;
 transition: all 0.4s ease;
}
.myBoton:hover{
  transform: scale(1.1,1.1);
}
.cerrarCarrito{
  width: 7.5rem;
  color: #9f0000;
}
.container-modal-active{
  opacity: 1;
  visibility: visible;
}
.formularioCarrito{
  max-width: 30rem;
  
}
.nombresDeForm{
  color: #9f0000;
}
.productoEnCarrito{
  background-color: rgb(85, 81, 81);
  
}

.confirmar{
  color: white;
  text-decoration: none;
}
.confirmar:hover{
  color: white;
}
/*Hasta aca va el footer*/
.titulosContacto {
  color: #9f0000;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}

form {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

form .nombresContacto, form .cajas {
  color: #9f0000;
  margin: 1rem;
  padding: 1rem;
  font-size: 2rem;
  display: block;
}

form .cajas {
  border: solid #9f0000;
  width: auto;
}

form .divEnviar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

form .divEnviar .enviar {
  background-color: #9f0000;
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
}

.aside {
  grid-row: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: aside;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.aside .contAside {
  justify-items: center;
}

.aside .contAside .imagenContacto {
  border: solid #9f0000;
  border-radius: 30%;
  margin-top: 5rem;
  height: 40rem;
  width: 40rem;
}

/*contacto*/
/*Sobre Nosotros*/
.imagenSobreNosotros {
  border-right: #9f0000 solid;
  width: 100%;
  height: 100%;
}

.sobreNosotrosh2 {
  color: #9f0000;
  text-align: center;
  display: inline-block;
  margin: 4rem;
  font-size: 2rem;
  padding: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.pSobre {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  height: 29rem;
  color: white;
}

/*Hasta aca va el Sobre Nosotros*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #242424;
  font-family: 'Gugi', cursive;
  text-transform: capitalize;
}

.bodyActive{
  background-color: white;
}
.contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 8fr auto;
      grid-template-rows: auto 8fr auto;
      grid-template-areas: "header header"
 "main main"
 "footer footer";
}

.contenedorContacto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 8fr auto;
      grid-template-rows: auto 8fr auto;
      grid-template-areas: "header header"
 "main aside"
 "footer footer";
}

.contenedorSobre {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto 8fr auto;
      grid-template-rows: auto 8fr auto;
      grid-template-areas: "header header"
 "main aside"
 "footer footer";
}

.contenedorProducto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "header header"
 "main aside"
 "description description"
 "footer footer";
}


h1 {
  color: #9f0000;
  font-size: 2rem;
  text-align: center;
  padding: 0.6rem;
  font-weight: bold;
}

ul {
  list-style: none;
  color: #9f0000;
  padding: 1rem;
}

ul li a {
  text-decoration: none;
  color: #9f0000;
}

li {
  display: inline-block;
  position: relative;
}

footer ul li {
  padding-left: 1rem;
}

p {
  color: white;
}

/*Aca empieza las Media*/
@media screen and (max-width: 480px) {
  .contenedor {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "header"
 "main"
 "footer";
  }
  .contenedor main .banner {
    width: 23rem;
  }
  .contenedor main .banner .w-50 {
    width: 90% !important;
    margin-left: 1.3rem;
  }
  .contenedor main .botonIzq {
    margin-left: 0rem;
  }
  .contenedor main .botonDer {
    margin-right: 0rem;
  }
  .contenedor .footer .listaFooter svg {
    width: 1.3rem;
  }
}

@media screen and (max-width: 1024px) {
  .contenedor {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "header"
 "aside"
 "main"
 "footer";
  }
}

@media screen and (max-width: 480px) {
  .contenedorContacto {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto 2fr auto;
        grid-template-rows: auto auto 2fr auto;
        grid-template-areas: "header"
 "aside"
 "main"
 "footer";
  }
  .contenedorContacto main form {
    width: 18rem;
  }
  .contenedorContacto main form .nombresContacto, .contenedorContacto main form .cajas {
    font-size: 1.8rem;
    margin: 0rem;
    padding: 0rem;
  }
  .contenedorContacto main form .cajas {
    margin: 0rem;
    padding: 0rem;
    width: 100%;
  }
  .contenedorContacto main form .divEnviar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1rem;
  }
  .contenedorContacto .aside .contAside .imagenContacto {
    width: 21rem;
    height: 21rem;
  }
  .contenedorContacto .footer .listaFooter svg {
    width: 1.3rem;
  }
}

@media screen and (max-width: 1024px) {
  .contenedorContacto {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto 2fr auto;
        grid-template-rows: auto auto 2fr auto;
        grid-template-areas: "header"
 "aside"
 "main"
 "footer";
  }
}

@media screen and (max-width: 1100px) {
  .contenedorSobre {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto 2fr auto;
        grid-template-rows: auto auto 2fr auto;
        grid-template-areas: "header"
 "aside"
 "main"
 "footer";
  }
}

@media screen and (max-width: 480px) {
  .contenedorSobre {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto 2fr auto;
        grid-template-rows: auto auto 2fr auto;
        grid-template-areas: "header"
 "aside"
 "main"
 "footer";
  }
  .contenedorSobre .footer .listaFooter svg {
    width: 1.3rem;
  }
}

@media screen and (max-width: 480px) {
  .contenedorProducto {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "header"
 "main"
 "aside"
 "description"
 "footer";
  }
  .contenedorProducto main section .prodImagen .imagenProducto {
    width: 21rem;
    margin: 1rem;
  }
  .contenedorProducto .footer .listaFooter svg {
    width: 1.3rem;
  }
}

@media screen and (max-width: 1024px) {
  .contenedorProducto {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto 2fr auto auto auto;
        grid-template-rows: auto 2fr auto auto auto;
        grid-template-areas: "header"
 "main"
 "aside"
 "description"
 "footer";
  }
}
