$colorPag:#9f0000;
$colorFondo:#242424;


.header{
    background-color: white;
    grid-row: 1;
    grid-column: 1;
    grid-area: header;
    .listaHead{
        display:flex;
        justify-content: space-between;
        padding-left: 2rem;
        text-align: center;
        margin-bottom: -2rem;
        margin-top: -1.5rem;
        .boton1{
            margin-bottom: 2rem;
            background-color: $colorPag;
            display: inline-block;
            }
        .sobreNosotros{
            display: inline-block;
            transition: all 0.4s ease;
            margin-top: 1rem;
            &:hover{
                transform: scale(1.1,1.1);
                height: auto;}}  
       
        .contacto{
            @extend .sobreNosotros;
            &:hover{
                transform: scale(1.1,1.1);
                height: auto;
                }
            }
        .home{
           @extend .sobreNosotros;
            &:hover{
                transform: scale(1.1,1.1);
                height: auto;
                     }
                    }
                }
    .menu{
        background-color: $colorFondo;
        .categorias{
            display:inline-block;
            transition: all 0.4s ease;
            color: $colorPag;
            font-size: 2rem;
            &:hover{
                transform: scale(1.1,1.1);
                height: auto;
                }
            }    
        .btn-close{
            margin-left: 1rem;
            }
        .nav-item{
            margin: auto;
            margin-bottom: 2rem ;
            font-size: 1.4rem;
            transition: all 0.4s ease;
            color: $colorPag;
            &:hover{
                color: $colorPag;
                transform: scale(1.1,1.1);
                height: auto;
                }
            }   
        }
    }
               /*Hasta aca va el Header*/