$colorPag:#9f0000;
$colorFondo:#242424;


.header{
    background-color: white;
    grid-row: 1;
    grid-column: 1;
    grid-area: header;
    .listaHead{
        display:flex;
        justify-content: space-between;
        padding-left: 2rem;
        text-align: center;
        margin-bottom: -2rem;
        margin-top: -1.5rem;
        .divBuscador{
            height: 5rem;
            width: 1rem;
            .container-1{
                width: 300px;
                vertical-align: middle;
                white-space: nowrap;
                position: relative;
                .container-1 input{
                    width: 222px;
                    height: 35px;
                    background: #8d0000;
                    border: none;
                    font-size: 10pt;
                    float: left;
                    color: #262626;
                    padding-left: 45px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                   
                     
                    -webkit-transition: background .55s ease;
                    -moz-transition: background .55s ease;
                    -ms-transition: background .55s ease;
                    -o-transition: background .55s ease;
                    transition: background .55s ease;
                  }
                  .container-1 input::-webkit-input-placeholder {
                    color: #000000;
                  }
                  
                  .container-1 input:-moz-placeholder { 
                    color: #000000;  
                  }
                  
                  .container-1 input::-moz-placeholder {  
                    color: #000000;  
                  }
                  
                  .container-1 input:-ms-input-placeholder {  
                    color: #000000;  
                  }
                  
                  .container-1 input:hover, .container-1 input:focus, .container-1 input:active{
                    outline:none;
                    background: #ffffff;
                  }
                .icon{
                    position: absolute;
                    top: 50%;
                    margin-left: -135px;
                    margin-top: 3px;
                    z-index: 1;
                    color: #000000;
                  }
                .buscador{
                    width: 20rem;
                    height: 2.2rem;
                    &::placeholder{color: black;}
                    }
              }
          }
        .myBoton{
            background-color: white;
            color: #9f0000;
            transition: all 0.4s ease;
            border: white;
            &:hover{
                transform: scale(1.1,1.1);
              }
           }
        .botonCarrito{
            width: 2rem;
            height: 2rem;
            color: #9f0000;
            border-radius: solid #9f0000;
           }
        .myBotonActive{
            background-color: black;
            border: black;
          }
            }
        .home{
           @extend .sobreNosotros;
            &:hover{
                transform: scale(1.1,1.1);
                height: auto;
                     }
                    }
                }
    .menu{
        background-color: $colorFondo;
        .categorias{
            display:inline-block;
            transition: all 0.4s ease;
            color: $colorPag;
            font-size: 2rem;
            &:hover{
                transform: scale(1.1,1.1);
                height: auto;
                }
            }    
        .btn-close{
            margin-left: 1rem;
            }
        .nav-item{
            margin: auto;
            margin-bottom: 2rem ;
            font-size: 1.4rem;
            transition: all 0.4s ease;
            color: $colorPag;
            &:hover{
                color: $colorPag;
                transform: scale(1.1,1.1);
                height: auto;
                }
            }   
        }
.headerActive{
        background-color: black;
    }
               /*Hasta aca va el Header*/