@import "header";
@import "main";
@import "footer";
@import "contacto";
@import "sobreNosotros";


$colorPag:#9f0000;
$colorFondo:#242424;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
    
body{
    background-color: $colorFondo;
    font-family:'Gugi', cursive;
    text-transform: capitalize;
    transition: .3s ease all;
    }
.bodyActive{
    background-color: white;
    
      }
.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 8fr auto;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer";}
            
        
h1{
    color: $colorPag;
    font-size: 2rem;
    text-align: center;
    padding: 0.6rem;
    font-weight: bold;}
    
ul{
    list-style: none;
    color: $colorPag;
    padding: 1rem;}

ul li a{
    text-decoration: none;
    color: $colorPag;}

li {
    display: inline-block;
    position:relative;}

 
footer ul li{
    padding-left: 1rem;}

p{
    color: white;
}

/*Aca empieza las Media*/

@media screen and (max-width: 480px){
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
        "header"
        "main"
        "footer";

        main{
            .banner{
                width: 23rem;
                .w-50{
                    width: 90%!important;
                    margin-left: 1.3rem;
                }  
            }
            .botonIzq{
                margin-left: 0rem;
            }
            .botonDer{
                margin-right: 0rem;
            }
        }
        .footer .listaFooter svg {
            width: 1.3rem;
        }
    }
}

@media screen and (max-width: 1024px){
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
    }
}



